@import url("../fonts/ProximaSoftThin/style.css");
@import url("../fonts/ProximaSoftLight/style.css");
@import url("../fonts/ProximaSoftRegular/style.css");
@import url("../fonts/ProximaSoftBlack/style.css");
@import url("../fonts/ProximaSoftBold/style.css");
@import url("../fonts/ProximaSoftExtraBold/style.css");
@import url("../fonts/ProximaSoftMedium/style.css");
@import url("../fonts/ProximaSoftSemiBold/style.css");

/* тэнги */

body {
    color: #242E42;
    font-family: 'Proxima Soft', sans-serif;
    margin: 0 16px;
    background: #FAFAFA;
}

a {
    text-decoration: none;
    color: #2C9AB7;

}

a:visited {
    color: #2C9AB7;
}

/* верх */

.header {
    height: 52px;
    display: flex;
    justify-content: space-between;
}

.header-left {
    display: flex;
}

.logo {
    width: 95px;
}

.header-right {
    display: flex;
    align-items: center;
}

.avatar {
    width: 32px;
    margin-left: 14px;
    background-color: #C4C4C4;
    border-radius: 7px;
    color: #ffffff;
    height: 32px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeX {
    width: 12px;
}

/* пункты пользовательского меню */

.settings-button {
}

.shim-user-menu-settings {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.shim-user-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.shim-modal-show, .shim-modal-show-s {
    display: block !important;
}

.user-menu, .user-menu-settings {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-left: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 138px;
    background-color: #ffffff;
    position: absolute;
    right: 16px;
    top: 10px;
    z-index: 1;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);
}

.user-menu-settings {
    right: 48px;
    top: 70px;
}

.user-menu-item, .user-menu-item-s {
    list-style-type: none;
    font-size: 14px;
    line-height: 48px;
    padding: 0 16px 0 16px;
    text-align: right;
}

.user-menu>li>a, .user-menu-settings>li>a {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 600;
    display: block;
}

.umis-on-date {
}

.shim-umis-on-date{
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(0,0,0, 0.5);
    z-index: 1;
}

.subModal {

}

.form-user-menu-settings-on-date {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 8px 8px 0 0;
    background-color: #FAFAFA;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-input-on-date {
    padding: 8px 16px 8px 40px;
    background-color: #FAFAFA;
    border: 1px solid rgba(0, 0, 0, 0.38);
    border-radius: 4px;
    font-size: 14px;
    line-height: 28px;
    height: 40px;
}

.calendar-pic-input {
    position: absolute;
    left: 15px;
    top: 17px;
    height: 20px;
    opacity: 0.38;
}

.form-label-on-date-text {
    padding-left: 12px;
    padding-top: 4px;
    padding-bottom: 9px;
    color: rgba(0, 0, 0, 0.38);
}

.form-submit-on-date-btn {
    margin-bottom: 40px;
}


/* общее содержимое страниц */

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /*padding-bottom: 67px;*/
}

.img-big {
    margin-top: 60px;
}

.description {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 47px;
    margin-bottom: 15px;
    text-align: center;
    color: #242E42;
    font-size: 15px;
}

.h3, .h3-form {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    width: 100%;
}

.h3-form {
    font-weight: 600;
}

.section-heading {
    width: 100%;
}

.section-heading-with-button {
    display: flex;
    justify-content: space-between;
}

.section-content {
    color: #575F6E;
    line-height: 22px;
    font-size: 14px;
}

.button {
    background-color: #2C9AB7;
    color: #ffffff;
    font-size: 14px;
    line-height: 28px;
    padding: 8px 20px 8px 20px;
    border: none;
    border-radius: 10px;
    margin-top: 32px;
}

.button-pic {
    height: 18px;
    margin-left: 16px;
}

.group-control-buttons {
    display: flex;
    align-items: center;
}

/* Форма, поля формы */

.form {
    border: 1px solid #E2E4E5;
    border-radius: 10px;
    padding: 32px;
    color: #242E42;
    display: flex;
    flex-wrap: wrap;
}

.form-label {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
}

.form > .form-label:not(:first-child) {
    margin-top: 32px;
}

.form-input {
    /*width: 100%;*/
    padding: 8px 16px;
    background-color: #FAFAFA;

    border-bottom: 1px solid #E2E4E5;
    border-top: none;
    border-left: none;
    border-right: none;

    font-size: 14px;
    line-height: 28px;
}

.form-input:focus {
    outline: none;
    border-bottom: 1px solid #2C9AB7;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

/* FF 4-18 */
input:focus::-moz-placeholder {
    color: transparent;
}

/* FF 19+ */
input:focus:-ms-input-placeholder {
    color: transparent;
}

/* IE 10+ */

.form-font-password {
    letter-spacing: 6px;
    font-size: 16px;
}

.display-password-pic {
    position: absolute;
    top: 50%;
    right: 1px;
}

.message_ok {
    margin-top: 8px;
    color: #34C759;
    font-size: 14px;
    line-height: 16px;
    visibility: visible;
}

.message_ok > img {
    height: 10px;
}

/* календарь и список по календарю */

.table-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.table-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
    font-weight: 500;
}

.not-today {
    opacity: 0.5;
}

/*.table-row>div {*/
/*    outline: 1px solid #cccccc;*/
/*}*/

.day-calendar {
    width: 65px;
    height: 36px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}

.shop-name {
    width: 115px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 24px;
    margin-left: 10px;
}

.completed-list-items {
    width: 49px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.participants {
    width: 82px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.avatar-in-list {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-left: 9px;
    width: 15px;
    height: 15px;
    background-color: #C4C4C4;
    font-size: 14px;
    color: #ffffff;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;

}